[submodule "Evlk-Shell-Library"]
	path = Evlk-Shell-Library
	url = git@github.com:EVOLINK-TEAM/Evlk-Shell-Library.git
[submodule "Evlk-Terminal-Library"]
	path = Evlk-Terminal-Library
	url = git@github.com:EVOLINK-TEAM/Evlk-Terminal-Library.git
[submodule "Evlk-NoPins-Library"]
	path = Evlk-NoPins-Library
	url = git@github.com:EVOLINK-TEAM/Evlk-NoPins-Library.git
[submodule "Evlk-74HC595-Library"]
	path = Evlk-74HC595-Library
	url = git@github.com:EVOLINK-TEAM/Evlk-74HC595-Library.git
[submodule "Evlk-HPDL1414-Library"]
	path = Evlk-HPDL1414-Library
	url = git@github.com:EVOLINK-TEAM/Evlk-HPDL1414-Library.git
